div.draw {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

input[type="range"][orient="vertical"] {
  position: sticky;
  margin-right: -15px;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
  transform: scale(1, -1);
}

input[type="range"][orient="horizontal"] {
  margin: auto;
  position: sticky;
  width: 175px;
  height: 8px;
  padding: 5px 0;
}

div.horizontal-flex {
  display: flex;
  flex-direction: row;
}

div.number-input {
  padding: 0 10px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: -30px;
  justify-content: space-between;
}
div.number-input > div:first-child {
  flex: 0 0 10%;
}

div.number-input > div:last-child {
  flex: 0 0 10%;
  text-align: right;
}

div.number-input > div :nth-child(2) {
  flex: 1 1 auto;
}

div.number-input > div > span {
  color: white;
}

div.number-input > button {
  justify-self: right;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

div.toolbox {
  width: 100vw;
  border-radius: 50px 50px 0 0;
  position: fixed;
  bottom: 0;
  height: 5vh;
  background-color: rgb(36, 36, 36);
  transition: 1s;
}

div.toolbox:hover {
  height: 250px;
}

@media (max-width: 500px) {
  div.toolbox:hover {
    height: 350px;
  }
}
@media (max-width: 290px) {
  div.number-input {
    margin-bottom: -60px;
    justify-content: center;
  }
  div.number-input > div:last-child {
    margin-top: 5px;
  }
}

div.toolbox-grip {
  align-content: center;
  color: white;
  width: 100px;
  height: 50px;
  margin: -20px auto;
  border-radius: 50%;
  background-color: rgb(36, 36, 36);
}

div.palette {
  width: 80%;
  margin: 20px auto;
}
div.thickness {
  margin: 0 auto 10px;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
  align-items: center;
  background-color: white;
}

.active-tool {
  /* border: 3px solid tomato; */
  box-shadow: rgb(250, 49, 210) 0px 3px 6px, rgb(255, 0, 212) 0px 3px 6px;
}
